div.headline {
  background-color: DeepSkyBlue;
  color: white;
  font-family: 'Lucida Grande',monospace;
  padding: 5px;
  text-align: center;
  font-size: 48pt;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 88%;
}

div.content {
  background-color: white;
  color: MidnightBlue;
  font-family: 'Lucida Grande',monospace;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  font-size: 24pt;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 12%;
  bottom: 8%;
}

div.footer {
  background-color: LightSteelBlue;
  color: white;
  font-family: 'Lucida Grande',monospace;
  padding: 5px;
  text-align: center;
  font-size: 24pt;

  position: absolute;
  top: 92%;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

canvas.med {
	border-color: black; 
	border-width: 1px; 
	border-style: solid;
	width:400px; 
	height:400px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 24px;
	display: block;
}

a.button {
  background-color: SteelBlue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-family: 'Lucida Grande',monospace;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.sidebyside img {float:right;width=600px}
div.sidebyside p {margin-right:600px;}